.navbar {
	height: 5rem;
	width: 100vw;
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 100;
}
.logo {
	object-fit: cover;
	width: 4rem;
	height: 3rem;
}
.desktopMenuLink {
	margin: 1rem;
	cursor: pointer;
}
.desktopMenuLink:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.active{
    color: yellow;
    padding: 0.5rem;
    border-bottom: 3px solid yellow;
}
.desktopMenuBtn{
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
}
.desktopMenuImg{
    object-fit: cover;
    width:1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
